html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.link1{
    text-decoration: none;
}
.box{
    width: 500px;
    height: 100px;
    background-color: fuchsia;
    margin: 0 auto;
}
.container{
    width: 1200px;
    margin: 0 auto;
    background-color: orange;
}
.btn{
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: tomato;
    color: #fff;
    text-decoration: none;
}
.btn-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    background-color: green;
    vertical-align: middle;
}
.container1{
   
    width: 1440px;
    margin: 0 auto;
    outline: 2px solid green ;
}
.page{
    background-color: firebrick;
}


